.linearRound {
  &:first-child span {
    border-start-start-radius: 8px;
    border-end-start-radius: 8px;
  }
  &:last-child span {
    border-start-end-radius: 8px;
    border-end-end-radius: 8px;
  }
}

.header {
  &::after {
    content: '';
    position: absolute;
    inset-block-end: -14px;
    inset-inline-start: 0;
    block-size: 10px;
    inline-size: 2px;
    background-color: var(--mui-palette-divider);
  }
}
.react-datepicker-time__header {
  display: none !important;
  border: 1px solid red !important;
}

.mui-1njzp2s-MuiFormControl-root-MuiTextField-root .MuiInputBase-root.MuiInputBase-sizeSmall {
  display: none !important;
  border: 1px solid red !important;
}

